<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uikit-rtl.css"/>
    <link rel="stylesheet" href="/uikit-rtl.min.css"/>
    <link rel="stylesheet" href="/uikit.css"/>
    <link rel="stylesheet" href="/uikit.min.css"/>
    <title>Pokedex</title>
    
</head>
<body>

    <!-- nav partial home, add -->

    <!-- title -->
    <h1>Pokedex</h1>

    <nav>
        <a href="/pokemon/new">Create a New Pokemon</a>
    </nav>
    
    <!-- list of pokemon -->
    <!-- within list, show image, name-->
    <ul>
        <% for(let i = 0; i < pokemon.length; i++) {%>
          <li>
              <h3><%= pokemon[i].name %></h3>
              <a href="/pokemon/<%=i%>">
              <img src="<%= pokemon[i].img %>">
              </a>
              <br>
              <a href="/pokemon/<%=i; %>/edit"><button>Edit</button></a>
              <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete"/>
			</form>
            </li>
        <% } %>
      </ul>
    </div>

</body>
</html>